.popup {
    width: 601px;
    height: 536px;
    background-color: #FFDB08;
    border-radius: 50px;
    /* position: absolute; */
    /* top: 100px;
    left: 340px; */
    z-index: 200;

}

.popup__form_title {
    padding-top: 41px;
}

.popup__form {
    margin-top: 29px;
    margin-left: 40px;
}

.popup__form_label {
    position: absolute;
    left: 65px;
}

.popup__close{
    position: absolute;
    right: 26px;
    top: 24px;
}